.contenedora {
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
    
}
.seccion-principal {
    background-color:#fff;
    height: 120px;
    width: 240px;

    border: 1px solid rgb(228, 228, 228);
    border-radius: 8px;
    padding: 40px 20px;
    margin: 10px;
   
}

body{
    text-align: center;
    background-color: rgb(245, 245, 245);
}
